<div class="col-sm-5">
    <div style="padding-top: 9px; padding-bottom: 7px; margin-right: 12px">
        <div>
            <a id = "seemore" href="" style="color: #3b5998">
                <span>Xem thêm 10 bình luận khác</span>
            </a>
        </div>
    </div>

    <div class="row" data-bind="foreach: listCommentFilter">
        <form class="form-horizontal" role="form">
            <div class="form-group has-error has-feedback" style="margin: 0">
                <label class="col-sm-1 control-label" style="padding-right: 0; padding-top: 4px">
                    <img class="img-responsive" data-bind="attr: {src: from.url}" style="width: 100%; height: 100%">
                </label>
                <div class="col-sm-10" style="padding-right: 0; padding-left: 8px">
                    <div style="padding-left: 0; padding-right: 0; border: 0">
                        <div>
                            <a href="">
                                <span style ="font-weight: bold; color: #3b5998" data-bind="text: from.name"></span>
                            </a>
                            <span>
                                <span> </span>
                                <span data-bind="text: message"></span>
                            </span>
                        </div>
                        <div>
                            <span>
                                <a href="" style ="color: #9197a3">
                                    <abbr data-bind="text: created_time"></abbr>
                                </a>
                            </span>
                            <span> . </span>
                            <span><a href="" style ="color: #3b5998">Thích</a></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-1 btnClose">
                    <span class="fa fa-times" style="float: right"></span>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <form class="form-horizontal-" role="form">
            <div class="form-group has-feedback" style="margin: 0">
                <label class="col-sm-1 control-label" style="padding-right: 0; padding-top: 4px">
                    <img class="img-responsive" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xtp1/v/t1.0-1/p50x50/10636075_754648827936816_2014029880228452476_n.jpg?oh=aed12b54f54cea11e12c54c0f20b786c&oe=55DBC999&__gda__=1440119390_b5a588e1b2b03f954c3bd5eb13d18144" style="width: 100%; height: 100%">
                </label>
                <div class="col-sm-11" style="padding-right: 0; padding-left: 8px;margin-top: 8px">
                    <div class ="Input col-sm-12 form-group" style="padding-left: 0; margin-bottom: 0; padding-right: 0">
                        <textarea  class = "inputtext col-sm-10 nonePadding" id = "in" data-bind="value: message" type="text" rows="1.5" style="border: 0" placeholder= "Write comment..."></textarea>
                        <div class="col-sm-2 nonePadding">
                            <div class="col-sm-6 nonePadding">
                                <span class="icon" style="padding-top: 4px; float: right"><i class="fa fa-camera"></i></span>
                            </div>
                            <div class="col-sm-6">
                                <span class="icon" style="padding-top: 4px; float: right"><i class="fa fa-smile-o"></i></span>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
