<section data-bind="foreach: feeds">
    <article class="xb feedItem">
    <div class="xb feedItem header">
        <img class="avatar" data-bind="attr:{src: from.url}"/>
        <div class="from">
            <span class="name" data-bind="text: from.name"></span>
        </div>
    </div>
    <div style="xb feedItem body">
        <div>
            <p data-bind="text: message"></p>
        </div>
        <!-- ko if: picture -->
        <div class="msg-picture">
            <img data-bind="attr:{src: picture}"/> 
        </div>
        <!-- /ko -->
        <div>
            <span class="feed-btn">Like</span> ·
            <span class="feed-btn">Comment</span> ·
            <span class="feed-btn">Share</span>
        </div>
        <!-- Comment -->
        <div>
            <!-- ko if: comments -->
            <p class="xb blue-dark pointer">Xem thêm <span></span> bình luận khác</p>
            <div data-bind="foreach: comments.data" class="xb cmts">
                <div class="xb cmt">
                    <div class="xb left">
                        <img class="avatar" data-bind="attr:{src: from.url}">
                    </div>
                    <div class="xb right">
                        <span><span data-bind="text: from.name" class="margin-right-5px name"></span><!-- ko text: message --><!-- /ko --></span><br>
                        <abbr class="crtTime"><!-- ko text: created_time --><!-- /ko --> &bull;</abbr>
                        <span class="feed-btn xb pointer">Like</span>
                    </div>
                    <br class="clear">
                </div>
            </div>
            <!-- /ko -->
        </div>
        <!-- /Comment -->
    </div>
    </article>
</section>