<div class="row" data-bind="foreach: friends">
    <div class="col-md-12" style="margin-bottom: 2%;margin-top: 3%">
        <div class="col-md-4">
            <img style="border-radius: 0px" class="img-rounded" data-bind="attr:{src: picture.data.url} ">
        </div>
        <div class="col-md-8">
            <a target="_blank" data-bind="text: name,attr: { href: link}">Tesst</a><br>
            <small data-bind="text: mutual"></small><br>
            <button class="btn btn-default btn-xs" data-bind="click:$parent.search">
                <span class="glyphicon glyphicon-plus"></span> Add friends
            </button>
        </div>
    </div>
</div>

