<section style="width: 300px">

    <h5 style="color: #9197a3; float: left">PEOPLE YOU MAY KNOW</h5>
    <a style="float: right;padding-top: 6px" href="#">See all</a>
    <div style="width: 200px; min-height:100px; height: auto">
        <div style="float: left; width: 28%;height: 100px">
            <img style="width: 100%;height: 56%;border-radius: 0px" src="/SocialNetwork/image/tma.png" class="img-rounded">
            <!--<img style="width: 100%;height: 56%;border-radius: 0px" class="img-rounded" data-bind="attr:{scr: picture.url} ">-->
        </div>
        <div style="float: right;width: 65%;height: 100%">
            <a href="#">Hào Đặng</a><br>
            <small>(10 mutuals friends)</small><br>
            <button class="btn btn-default btn-xs" data-bind="click: sayHello">
                <span class="glyphicon glyphicon-plus"></span> Add friends
            </button>
        </div>
    </div>
</section>