<style type="text/css">
  .img{
    max-width: 36%;
    margin-right: -3px;
    margin-top: 1px;
    border-radius: 1px;
  }
  .showButton{
    display: none;
    margin-right: 3px;
  }
  /*.showCloseButton:hover .showButton{
    display : block;
  }*/
  .closeButton {
    float: right;
    font-size: 11px;
  }
  .closeButton:hover {
    color: white;
    background-color: #6B89B6;
    padding: 1px;
    border-radius: 3px;
  }
  .groupName{
    font-size:12px;
    font-weight: bold;
  }
  .description{
    font-size:12px;
    color: rgb(145, 151, 163);
  }
  @media screen and (min-width: 768px) {
    .asd{
      margin-left: -40px;
    }
  }
  @media screen and (min-width: 200px) {
    .asd{
      margin-left: -20px;
    }
  }
  .pOfGroupName{
    margin-bottom: 0px;
  }
  .panel-heading{
    color: #31708F;
    background-color: #D9EDF7;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857;
  }
</style>
<div class="container-fluid">
  <div class="row ">
    <div class="col-xs-12 panel-heading">
      <p style="float:left">Group Suggestion</p>
      <p style="float:right">
        <a href="">See All</a>
      </p>
    </div>
  </div>

  <div class="showCloseButton item panel-body" data-bind="foreach: groups">
    <div class="row">
      <div class="col-xs-5 col-sm-4" >
        <img data-bind="attr{src:picture.data.url}" class="img img-rounded">
        <img data-bind="attr{src:picture.data.url}" class="img img-rounded">
        <img data-bind="attr{src:picture.data.url}" class="img img-rounded">
        <img data-bind="attr{src:picture.data.url}" class="img img-rounded">
      </div>

      <div class="col-xs-7 col-sm-8 asd">
        <a href="#" title="Delete" class="delete"> 
          <span class="glyphicon glyphicon-remove showButton closeButton" aria-hidden="true" ></span>
        </a>
        <p class="pOfGroupName">
          <a href="" class="groupName" data-bind="text: name"></a>
        </p>
        <p class="description" data-bind="text: member_request_count"></p>
        <button type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Join</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $(".delete").click(function(){
      $(".item").hide();
    });
    $(".item").mouseover(function(){
      $(".showButton").show();
    });
    $(".item").mouseout(function(){
      $(".showButton").hide();
    })
  });
</script>