<div class="container-fluid">
  <div class="row ">
    <div class="col-xs-12 panel-heading">
      <p style="float:left">Group Suggestion</p>
      <p style="float:right">
        <a href="">See All</a>
      </p>
    </div>
  </div>

  <!-- print group suggestion -->
  <div class="panel-body" data-bind="foreach: groups">
    <div class="row item">
      <!-- group 4 images -->
      <div class="col-xs-5 col-sm-4">
        <img data-bind="attr{src:picture.data.url}" class="img img-rounded"></img>
        <img data-bind="attr{src:picture.data.url}" class="img img-rounded"></img>
        <img data-bind="attr{src:picture.data.url}" class="img img-rounded"></img>
        <img data-bind="attr{src:picture.data.url}" class="img img-rounded"></img>
      </div>

      <!-- group name and description -->
      <div class="col-xs-7 col-sm-8 asd">
        <a href="#" title="Delete" class="showButton"> 
          <span class="glyphicon glyphicon-remove closeButton" aria-hidden="true" ></span>
        </a>
        <p class="pOfGroupName">
          <a href="" class="groupName" data-bind="text: name"></a>
        </p>
        <p class="description" data-bind="text: member_request_count"></p>
        <button type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Join</button>
      </div>
    </div>
  </div>
</div>