

	<div id="group1" class="col-sm-12 col-md-12 navbar navbar-default " style="padding:0">

		<div id="topInf">
			<div id="topInfImg">
				<a href="#">
					<!--<img src="image/relax.jpg" class="img-rounded col-sm-4">-->
					<img data-bind="attr: { src: picture }" class="img-rounded col-sm-4">
				</a>
			</div>
			<div id="topInfText">
				<a href="#"><b data-bind="text: myname"></b></a><br>
				<a href="#"> <span>Edit Profile</span></a>
			</div>
		</div>


	</div>
	<div id="group2" class="col-sm-12 col-md-12 navbar navbar-default " style="padding:0;">
		<div id="bottomInf">
			<a href="#">
				<div id="btRigt1" class="bottomInf" >
					<img class="icon-home" src="image/icon/newfeed.png">&nbsp;&nbsp;News Feed
				</div>
			</a>
			<a href="#">
				<div id="btRigt2" class="bottomInf">
					<img class="icon-home" src="image/icon/message.png">&nbsp;&nbsp;Messages
				</div>
			</a>
			<a href="#">
				<div  id="btRigt3" class="bottomInf">
					<img class="icon-home" src="image/icon/events.png">&nbsp;&nbsp;Events
				</div>
			</a>
		</div>
	</div>


	<div id="group" class="col-sm-12 navbar navbar-default" style=" padding: 0" >

		<div id="groupHeader-group" >
			<b>GROUPS</b>
			<a href="#"> <span id="groupAll">More</span> </a>
		</div>

		<div id="bottomGroup" class="col-sm-12 " style=" padding: 0" data-bind="foreach: myGroup" >
			<a data-bind="attr: { href: link}">
			<div class="bottomGr col-sm-12" style="padding: 0" >
				<div style=" padding: 0" class="col-sm-2"><img data-bind="attr: { src: icon }" ></div>
				<div class=" item-bottomGr col-sm-10" style="padding: 0" data-bind="text: name"></div>
			</div>
			</a>
		</div>

	</div>


	<div id="app" class="col-sm-12 navbar navbar-default" style="padding:0">
		<div id="groupHeader-app" >
			<b>APPS</b>
			<a href="#"> <span id="groupAll2">More</span> </a>
		</div>

		<div id="bottomApp" class="col-sm-12 " style=" padding: 0" data-bind="foreach: myApps" >
			<a data-bind="attr: { href: link}">
				<div class="bottomGr col-sm-12" style="padding: 0" >
					<div style=" padding: 0" class="col-sm-2"><img data-bind="attr: { src: icon }" ></div>
					<div class=" item-bottomGr col-sm-10" style="padding: 0" data-bind="text: name"></div>
				</div>
			</a>

		</div>
	</div>
